<div class="container-fluid">
<div>
  <%= link_to 'Post a New BruGram', new_user_photo_path(current_user) %>
</div>

<% @photos.each do |photo| %>
	
	<div>
		<strong>BruGram posted by:</strong> <%= photo.user.email %>
	</div>

	<%= link_to image_tag(photo.image.url(:medium)), user_photo_path(current_user, photo) %>

	<div>
		<%= photo.caption %>
	</div>

	<%end%>
</div>